<div>
  <div>
    <div class="row">
      <h1>Test Made by</h1>
      <img class="small-banner" src="https://7c1096715b08106e45d9-86066560621c8d09273ccd7d125f633d.ssl.cf5.rackcdn.com/r/logos/85529/1606_5943ecde19690.png">
    </div>
    <h1>Get Product Info</h1>
    <label for="id">Id:</label>
    <input #id>
    <button (click)="search(id.value)" class="btn btn-default">Search</button>
    <div *ngIf="searchedProduct">
      <label>Product is: {{searchedProduct.name}} , SKU: {{searchedProduct.sku}}</label>
    </div>
  </div>
  <div [@listState]="taggleUpdated" style="width:80%;">
    <h1 x-large class="sample-content">
      <h2>List of Products</h2>
      <ul>
        <li *ngFor="let product of products; let i = index" class="productItem">
          {{ i }}:
          <input id="{{ 'id-' + product['_id']['$oid'] }}" value="{{ product['_id']['$oid'] }}">
          <input id="{{ 'name-' + product['_id']['$oid'] }}" value="{{product.name}}">
          <input id="{{ 'sku-' + product['_id']['$oid'] }}" value="{{product.sku}}">
          <button (click)="updateProduct(id.value, id.value, id.value)" class="btn btn-default">Update</button>
          <button (click)="deleteProduct(product['_id']['$oid'], i)" class="btn btn-danger">X</button>
        </li>
      </ul>
    </h1>
  </div>

  <div>
    <h1>Create a new Product</h1>
    <form (submit)="createProduct(name.value, sku.value)">
      <label for="name">Name:</label>
      <input #name>
      <label for="name">SKU:</label>
      <input #sku>
      <button class="btn btn-default">Create</button>
    </form>
  </div>
  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div>
