<div>
  <div>
    <h1>Get Product Info</h1>
    <label for="id">Id:</label>
    <input #id>
    <button (click)="search(id.value)">Search</button>
    <div *ngIf="searchedProduct">
      <label>Product is: {{product.name}} , SKU: {{product.sku}}</label>
    </div>
  </div>
  <div [@listState]="taggleUpdated">
    <h1 x-large class="sample-content">
      <h2>List of Products</h2>
      <ul>
        <li *ngFor="let product of products; let i = index">
          {{ i }}: {{product.name}} , SKU: {{product.sku}}
          <button (click)="deleteProduct(product['_id']['$oid'], i)">X</button>
        </li>
      </ul>
    </h1>
  </div>

  <div>
    <h1>Create a new Product</h1>
    <form (submit)="createProduct(name.value, sku.value)">
      <label for="name">Name:</label>
      <input #name>
      <label for="name">SKU:</label>
      <input #sku>
      <button>Submit</button>
    </form>
  </div>
  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div>
